body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.header {
    width: 100%;
    padding: 20px 10%;
    margin-top:0;
    background-color: transparent;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    

}

a:hover {
    color: #564e77;
}

.navbar {
   width: 100%;
   height: 100px;
   max-width: 1200px;
   margin: 15px 20px;
   display: flex;
   gap: 2rem;
   align-items: center;
   align-items: center;
   justify-content: space-between;
   
    
}

.directory {
   margin: auto;
   display: block;
   margin: 15%;


}

.navbar a {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
    text-decoration: none;

   
}


html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 0;
    padding: 7, 8px;
    
}

.text-muted {
    color: #777;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

h2{
    text-align: center;
}

p {
    margin-left: 10px;
    padding: 20px;
}

li {
    margin: 10px;
}


.timeline {
    position: relative;
    padding: 0;
    list-style: 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 2%;
    bottom: 7%;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #453a6a;

}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 20%;
}

.timeline>li::after {
    clear: both;
}

.timeline>li .timeline-panel {
    float:right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel::after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100%;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #665e64;
    border-radius: 100%;
    text-align: center;
    background-color: #e6e0e9;
}

.timeline>li .timeline-image  img{
    object-fit:cover;
    border-radius: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel::before{
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel::after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}
.timeline .timeline-heading h4 {
    margin-top:0;
    color: inherit;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px){
    .timeline::before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    
    .timeline>li .timeline-image h4 {
        margin-top:16px;
        font-size: 13px;
        line-height: 10px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding:0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px){
    .timeline>li{
        min-height: 150px;
    }

    .timeline>li .timeline-panel{
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px){
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 10px 100px;
    }

    .timeline>li .timeline-image {
        width:170px;
        height:170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}



.title {
    text-align: center;
    color: rgb(26, 23, 23);
}

@media screen and (max-width: 768px) {
    .column {
        width: 100%;
        display: grid;
    }
    
}